@model IEnumerable<ProiectDaw1.Models.Image>

@{
    /**/

    ViewBag.Title = "Index";
}
<br />
<br />
@using (Html.BeginForm("Search", "Image", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" value="Search">Search image</button>
                </span>
                <input type="text" name="searching" id="searching" class="form-control" placeholder="Search for...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

    </div><!-- /.row -->
}
@using (Html.BeginForm("Search", "Profile", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" value="Search">Search profile</button>
                </span>
                <input type="text" name="searching" id="searching" class="form-control" placeholder="Search for...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

    </div><!-- /.row -->
}
<br>
</br>
@{
    int i = 1;
    foreach (var item in Model)
    {

        var base64 = Convert.ToBase64String(item.ByteString);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <a href="/Image/View/@item.ImageId"><img src="@imgSrc" width="250" height="250" /></a>
        if (i % 4 == 0)
        {
            <br>
            </br>
        }
        i++;
    }
}
